*{
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	font-family: Georgia, sirif;
}
li{list-style: none;}
.container {
	width: 1000px;
	margin: 0 auto;
}
a{text-decoration: none;}
.d-fl {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}
.fd-c {
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
}
.fd-r {
	-webkit-flex-direction: row;
	-moz-flex-direction: row;
	-ms-flex-direction: row;
	-o-flex-direction: row;
	flex-direction: row;
}
.jc-c{justify-content: center;}
.jc-sb{justify-content: space-between;}
.jc-sa{justify-content: space-around;}

.ai-c{
	-ms-align-items: center;
	align-items: center;
}
.text-c{text-align: center;}

.w100{width: 100%;}
.w50{width: 50%;}
.w25{width: 25%;}

.bg-r{background-color: red;}
.bg-g{background-color: green;}
.bg-b{background-color: blue;}
.bg-y{background-color: yellow;}